/* TWO FONTS FOR WEBSITE */
.merriweather-normal{
  font-family: "Merriweather";
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.inter-normal{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal
}
/* COMMON STYLES */
.white{
    color: #FFFFFF;
}
.red{
    color: #FF0000;
}
.black{
    color: #070211;
}
/* HEADER STYLES */
.banner-wrapper{
    margin-top: 50px;
}
.header{
    max-width: 1320px;
    height: 600px;
    border-radius: 16px;
    margin: 0 auto;
    background: linear-gradient( rgba(7, 2, 17, 1),rgba(7, 2, 17, 0)) ,
    url(../images/images/Banner\ Image.png);
    background-size: cover;
    background-position: center;
    display: flex; 
    justify-content: center; 
    align-items: center;
    text-align: center;
}
/* BANNER STYLES */
.banner-title{
    font-size: 32px;
    margin-bottom: 16px;       
}
.banner-sub-title{
    font-size: 72px;
    margin-top: 0px;
}
/* DISCOUNT SECTION STYLES */
.body{
    max-width: 1320px;
    margin: 0 auto;
}
.discount-section{
   width: 802px;
   height: 806px;
   margin: 120px 260px;
}
.discount-title{
    font-size: 88px;    
    font-weight: bold;
    text-align: center;
    margin-bottom: 48px;
}
.discount-sub-title{
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 16px;
}
.discount-second-sub-title{
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin-top: 0%;
    margin-bottom: 48px;
}
.happynewyear{
    width: 802px;
    height: 500px;
    margin-top: 0%;
}
/* WELCOME SECTION */
.welcome-section{
    display: flex;
    padding: 68px 138px;
    gap: 40px;
    background: linear-gradient(to right ,rgba(7, 2, 17, 1) , rgba(7, 2, 17, 0)) , url(../images/images/Vectorrr.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 120px;
    border-radius: 16px;
    align-items: center;
}
.Welcome-title{
    font-size: 64px;
    letter-spacing: 11px;
    margin-bottom: 24px;
}
.welcome-description{
    font-size: 18px;
    margin-bottom: 48px;
}
.welcome a{
    text-decoration: none;
    font-weight: bold;
}
.welcome-image{
    width: 320px;
    height: 465px;
}
/* LOCATION STYLES */
.location-container{
    padding: 110px 386px;
    text-align: center;
    background: linear-gradient(to top, rgba(255, 0, 0, 0) ,rgba(255, 0, 0, 0.1000));
    border-radius: 16px;
    margin-bottom: 120px;
    
}
.place , .date , .time{
    font-size: 32px;
    font-weight: 600;
}
.location-button{
    text-decoration: none;
    margin-top: 38px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    padding: 16px 32px;
    background-color: #FF0000;
    color: #FFFFFF;
}
/* BEST OFFER SECTION */
.best-offer-container{
    display: flex;
    align-items: center;
    margin-bottom: 120px;
}
.best-offer-1{
    margin-right: 50px;
    width: 883px;
}
.title-1{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}
.sub-title-1{
    font-size: 48px;    
    margin-top: 0%;
    margin-bottom: 22px;
}
.description-1 , .description-2{
    font-size: 20px;
    color:rgba(7, 2, 17, 0.6);
    line-height: 32px;
}
.offer-image-1{
    padding: 50px;
    border: 15px solid #FF0000 ;
    border-radius: 50%;
    height: 365px;
    width: 365px;
}
.best-offer-2{
    margin-left: 100px;
}
.title-2{
    margin-top: 112px;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 16px;
}
.offer-image-2{
    margin-top: 48px;
    height: 140px;
    width: 140px;
}
/* HOLIDAY SALE SECTION */
.holiday-sale-container{
    text-align: center;
    margin-bottom: 68px;
}
.holiday-title{
    font-size: 24px;
    line-height: auto;
    margin-bottom: 16px;
}
.holiday-sub-title{
    margin-top: 0%;
    font-size: 72px;
    line-height: auto;
    margin-bottom: 28px;
}
.holiday-description{
    font-size: 20px;
    color: rgba(7, 2, 17, 0.6);
    line-height: 32px;
    margin: 0px 126px;
}
.holiday-sale-img-section{
    display: flex;
    justify-content: space-between;
    background-image: url(../images/images/Rectangle\ 2.png);
    background-repeat: no-repeat;
    background-position: bottom;
    margin-bottom: 121px;
}
.holiday-image-1{
    width: 675px;
    margin-left: 60px;
    margin-bottom: 30px;
}
.holiday-image-2{
    width: 306px;
    height: 306px;
    margin-right: 41px;
    margin-bottom: 238px;
}
/* PORTFOLIO SECTION */
.portfolio-title {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}
.portfolio-sub-title{
    font-size: 48px;
    margin-top: 0%;
    margin-bottom: 22px;
}
.portfolio-description{
    font-size: 20px;
    line-height: 32px;
    color: rgba(7, 2, 17, 0.6)  ;
    margin-bottom: 48px;
}
.card-container{
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    margin-bottom: 120px;
}
.card{
    width: 424px;
    height: 450px;
}
/* NEWSLETTER SECTION */
.newsletter-section{
    text-align: center;
    background-color: rgba(255, 0, 0, 0.05);
    margin-bottom: 120px;
}
.newsletter-section img{
    margin-top: 80px;
}
.newsletter-title{
    font-size: 48px;
    margin-top: 40px;
    margin-bottom: 0%;
}
.newsletter-description{
    font-size: 20px;
    color: rgba(7, 2, 17, 0.6);
    margin-top: 22px;
}
.newsletter-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 80px;
    margin-top: 48px;
}
.inp-email{
    font-size: 18px;
    padding: 24px 267px 24px 30px;
    border: none;
    border-radius: 500px 0px 0px 500px;
}
.Subscribe{
    font-size: 20px;
    font-weight: 600;
    background-color: #FF0000;
    color: #FFFFFF;
    padding: 24px 54px;
    border: none;
    border-radius: 0px 500px 500px 0px;
}
